body {
	font-family: "Roboto", sans-serif;
	background-color: #f5f4fa;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

:root {
	--acent-color: #2196f3;
	--brand-white-color: #ffffff;
	--brand-black-color: #212121;
	--brand-grey-color: #757575;
}

/*-----------------HOVER----------------*/

.header-link:hover {
	color: var(--acent-color);
}

.header-email:hover {
	color: var(--acent-color);
}

.header-tel:hover {
	color: var(--acent-color);
}

.filter-btn:hover {
	color: var(--#ffffff);
	background-color: #2196f3;
}

.footer-address-item-map:hover {
	color: var(--acent-color);
}

.footer-address-item-link:hover {
	color: var(--acent-color);
}

button {
	color: var(--acent-color);
}

/*-----------------HOVER----------------*/

.header-link:focus {
	color: var(--acent-color);
}

.header-email:focus {
	color: var(--acent-color);
}

.header-tel:focus {
	color: var(--acent-color);
}

.filter-btn:focus {
	color: var(--#ffffff);
	background-color: #2196f3;
}

.footer-address-item-map:focus {
	color: var(--acent-color);
}

.footer-address-item-link:hfocus {
	color: var(--acent-color);
}

/*-----------------LOGO----------------*/

.first-logo {
	font-family: "Raleway", "sans-seif";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: color: var(--acent-color);
}

.second-logo {
	font-family: "Raleway", "sans-seif";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--#ffffff);
}

.third-logo {
	font-family: "Raleway", "sans-seif";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #000000;
}

/*-----------------HEADER----------------*/

.header-item,
.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--#212121);
}

.header-tel,
.header-email {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--#757575);
}

/*-----------------HERO----------------*/

.hero-title {
	font-weight: 900;
	font-size: 1.36;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--#ffffff);
}

.hero-btn {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: var(--#ffffff);
}
.hero {
	background-color: #2f303a;
}

/*-----------------BENEFITS----------------*/
.benefits-title {
	visibility: hidden;
	color: transparent;
	font-size: 0;
}

.benefits-item-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--#212121);
}

.benefits-item-after-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--#757575);
}

/*-----------------SPECIALIZATION----------------*/

.specialization-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--#212121);
}

/*-----------------TEAM----------------*/
.team-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--#212121);
}

.team-item-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--#212121);
}

.team-item-after-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--#757575);
}

/*-----------------FOOTER----------------*/

.footer {
	background: #2f303a;
}

.footer-address-item-map {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--#ffffff);
}

.footer-address-item-link {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

/*-----------------PORTFOLIO----------------*/

.portfolio-title {
	visibility: hidden;
	color: transparent;
	font-size: 0;
}

/*-----------------PORTFOLIO FILTER----------------*/

.filter-btn {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--#212121);
}

/*-----------------PORTFOLIO WORKS----------------*/
.works-item-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--#212121);
}

.works-item-after-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--#757575);
}
